<!-- BEGIN_INCLUDE(google-calendar:create-event) -->
	<google-calendar:create-event  />
<!-- END_INCLUDE(google-calendar:create-event) -->
<!-- BEGIN_INCLUDE(google-calendar:update-event) -->
	<google-calendar:update-event>
		<google-calendar:calendar-event/>
     </google-calendar:update-event>
<!-- END_INCLUDE(google-calendar:update-event) -->
<!-- BEGIN_INCLUDE(google-calendar:find-events) -->
	<google-calendar:find-events>
		<google-calendar:calendar-event/>
    </google-calendar:find-events>
<!-- END_INCLUDE(google-calendar:find-events) -->
<!-- BEGIN_INCLUDE(google-calendar:create-calendar) -->
    <google-calendar:create-calendar summary="#[map-payload:content]" />
<!-- END_INCLUDE(google-calendar:create-calendar) -->
<!-- BEGIN_INCLUDE(google-calendar:find-calendar) -->
    <google-calendar:find-calendar summary="#[map-payload:content]" />
<!-- END_INCLUDE(google-calendar:find-calendar) -->
<!-- BEGIN_INCLUDE(google-calendar:delete-calendar) -->
    <google-calendar:delete-calendar calendarId="#[map-payload:content]" />
<!-- END_INCLUDE(google-calendar:delete-calendar) -->
<!-- BEGIN_INCLUDE(google-calendar:delete-event) -->
    <google-calendar:delete-event>
		<google-calendar:calendar-event/>    
    </google-calendar:delete-event>
<!-- END_INCLUDE(google-calendar:delete-event) -->
<!-- BEGIN_INCLUDE(google-calendar:clear-calendar) -->
    <google-calendar:clear-calendar calendarId="#[map-payload:content]" />
<!-- END_INCLUDE(google-calendar:clear-calendar) -->